{
  auto_https disable_redirects
}

(allocube_common) {
  encode zstd gzip
  reverse_proxy app:8787
  header {
    X-Content-Type-Options "nosniff"
    Referrer-Policy "no-referrer"
  }
}

http://{$APP_DOMAIN} {
  import allocube_common
}

https://{$APP_DOMAIN} {
  import allocube_common
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
  }
}
